/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.search-button {
    background-image: url("../public/images/search_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 10px;
    text-indent: -9999px;
    background-color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transform: translateX(-150%);
    border: none;
}

.search-input {
    width: 250px;
    padding: 6px 20px;
    border-radius: 12px;
    background-color: white;
    box-sizing: border-box;
}
